<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>alfred.theme.custom.009CC943-BB99-42B0-92E0-05BA6A2C2E05</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAIOtrCw+g9nYWD4Bhg==
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+gwAAgD6G
			</data>
			<key>cornerRoundness</key>
			<integer>1</integer>
			<key>credits</key>
			<string>Cody Smith</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>Solarized Dark</string>
			<key>resultPaddingSize</key>
			<integer>3</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+Hg4DyD2dhYPoOFhIQ+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4SDAz+DlZQUP4OXlhY/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/Hw8D2DiIcHP4PJyEg/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwsD6D3dzcPoPr6uo+AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Courier</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8vKyj6D9/b2PoOEgwM/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Courier</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+g2ZmZj+G
			</data>
			<key>searchFont</key>
			<string>Courier</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4SDAz+DlZQUP4OXlhY/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>4</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5STEz+DoqEhP4OioSE/AYY=
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+AYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+Hg4DyD2dhYPoOFhIQ+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7CvLz+DiokJP4PBwEA9AYY=
			</data>
			<key>shortcutFont</key>
			<string>Courier</string>
			<key>shortcutFontSize</key>
			<integer>3</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4KBAT+Dh4YGP4OlpCQ+AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.009CC943-BB99-42B0-92E0-05BA6A2C2E05</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
		<key>alfred.theme.custom.411F2CBD-D90E-4E66-9E93-774281809307</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+HgYD2DqagoPoPR0FA+AYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7m4uD2D1dRUPoOBgIA+AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Burke Libbey</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>Solarized Dark</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7m4uD2D1dRUPoOBgIA+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4eGBj+DlJMTP4OWlRU/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8PCQj+Dn56ePoOFhAQ/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD6DzczMPoPNzMw+AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>0</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4uKij6Djo0NP4PNzEw/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Menlo</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7m4uD2D1dRUPoOBgIA+AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7m4uD2D1dRUPoOBgIA+AYY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5eWFj+DoaAgP4OhoCA/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>4</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7m4uD2D1dRUPoOBgIA+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8PCQj+Dn56ePoOFhAQ/AYY=
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4uKij6Djo0NP4PNzEw/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.411F2CBD-D90E-4E66-9E93-774281809307</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
		<key>alfred.theme.custom.4D4C040C-4528-4E12-862D-8A0368ECBBFC</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1SpXz+DXV5eP4NM9GA/g2ZmZj+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Lucas</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Yosemite Graphite</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg5OSkj6Dj46OPoOfnp4+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6EOaT+DoQ5pP4OhDmk/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgxCbcD+DEJtwP4MQm3A/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+HgYD+D2tlZP4Pp6Gg/AIY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgxBNGz6DKEgYPoOMYC4+g+F6VD+G
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>3</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg4/CdT2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1uHfj+Dtg59PwEAhg==
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>2</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7dtIz2Dt20jPYO3bSM9g3sUbj+G
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6WkJD+DpaQkP4OlpCQ/g/YoHD+G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+vq6j6D6+rqPoPr6uo+gylcTz+G
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.4D4C040C-4528-4E12-862D-8A0368ECBBFC</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.73530610-3A66-44E1-B996-C9F6EC9C7FD5</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg3pzVj+DenNWP4N6c1Y/g2ZmZj+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg9/UID+D39QgP4Pf1CA/AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>design4artists</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>Better Yosemite</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgoD2Do6KiPoPg3l4/AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg9nY2D6DoaAgP4PS0VE/g9ejcD+G
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgGD9ihcP4Y=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg9Ob/j6D05v+PoPTm/4+g/YoHD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Lucida Grande</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg0MGNj6DhHZwPoNZyIw+AYY=
			</data>
			<key>resultTextFont</key>
			<string>Geneva</string>
			<key>resultTextFontSize</key>
			<integer>1</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4/CVT+Dj8JVP4OPwlU/AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6jjcj+DqONyP4Oo43I/AIY=
			</data>
			<key>searchFont</key>
			<string>Geneva</string>
			<key>searchFontSize</key>
			<integer>2</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgwtZYD2DC1lgPYMLWWA9g3E9Sj+G
			</data>
			<key>searchPaddingSize</key>
			<integer>1</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJm
			ZoOrqio/AYaG
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6jjcj+DqONyP4Oo43I/AIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg82HOj2DV2kiPoPfVB8/g1K4Hj+G
			</data>
			<key>shortcutFont</key>
			<string>Lucida Grande</string>
			<key>shortcutFontSize</key>
			<integer>1</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg/0bYz+DsgpmP4OnV24/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.73530610-3A66-44E1-B996-C9F6EC9C7FD5</string>
			<key>widthSize</key>
			<integer>4</integer>
		</dict>
		<key>alfred.theme.custom.934B3DB9-331B-4F41-A169-98252277FC95</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDoaAgPoPJyEg+gzMzcz+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDoaAgPoPJyEg+g5qZmT6G
			</data>
			<key>cornerRoundness</key>
			<integer>2</integer>
			<key>credits</key>
			<string>Antonio Miranda</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>Solarized Dark (hi-less)</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+/ubj+D6ehoP4PW1VU/AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwsD6D3dzcPoPr6uo+AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwsD6D3dzcPoPr6uo+gwAAAD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+/ubj+D6ehoP4PW1VU/g2ZmZj+G
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+g1yPAj+G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwsD6D3dzcPoPr6uo+AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+/ubj+D6ehoP4PW1VU/g5qZmT6G
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+AYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+AIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+/ubj+D6ehoP4PW1VU/g2ZmZj+G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.934B3DB9-331B-4F41-A169-98252277FC95</string>
			<key>widthSize</key>
			<integer>4</integer>
		</dict>
		<key>alfred.theme.custom.E1922196-594A-4365-9EA9-852CD744060B</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDoaAgPoPJyEg+g2ZmZj+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Antonio Miranda</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>Solarized Dark (mono)</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+g2ZmZj+G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4SDAz+DlZQUP4OXlhY/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/38fD+D9/Z2P4Pk42M/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwsD6D3dzcPoPr6uo+AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Lucida Grande</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5STEz+DoqEhP4OioSE/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Lucida Grande</string>
			<key>resultTextFontSize</key>
			<integer>3</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+g2ZmZj+G
			</data>
			<key>searchFont</key>
			<string>Lucida Grande</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/38fD+D9/Z2P4Pk42M/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5STEz+DoqEhP4OioSE/AYY=
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQDyDrawsPoPZ2Fg+AYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAwDyD2dhYPoOFhIQ+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/38fD+D9/Z2P4Pk42M/AYY=
			</data>
			<key>shortcutFont</key>
			<string>Lucida Grande</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/38fD+D9/Z2P4Pk42M/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.E1922196-594A-4365-9EA9-852CD744060B</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
